Flask  # Bỏ ==3.0.0 để lấy bản mới nhất
flask-cors
python-dotenv
PyJWT
pymongo>=4.8.0  # Phải dùng bản mới mới hỗ trợ Python 3.12/3.13
requests
groq
Pillow
# Đã xóa mongoengine vì code mình viết không dùng nó